name: API Docker Image CI
on:
  push:
    branches: [ "**" ]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      working-directory: ./api
      git_hash: $(git rev-parse --short "$GITHUB_SHA")
    steps:
    - uses: actions/checkout@v6
    - name: Build the API Docker image
      run: docker build . --file Dockerfile --tag api:${{ env.git_hash }}
      working-directory: ${{ env.working-directory}}
